<!-- You can import other view partials in the template by using `import` -->
<import: src="./surprisePartial" ns="surprise-partial">

<index:>
  <div>
    This is displayed by wholesome-component!
    <br/>
    Let's increase the number of child components:
    <button on-click="_addCat()">
      Meet a new cat
    </button>
    <button on-click="_addDog()">
      Meet a new dog
    </button>
  </div>
  {{each cats as #cat}}
    <div>
      Hey, meet {{#cat}}:
      <br/>
      <view is="pet-display-component"
        animalName="{{#cat}}"
        animalType="cat"/>
    </div>
  {{/each}}
  {{each dogs as #dog}}
    <div>
      Hey, meet {{#dog}}:
      <br/>
      <view is="pet-display-component"
        animalName="{{#dog}}"
        animalType="dog"/>
    </div>
  {{/each}}
  {{if cats.length > 5}}
    <div>
      This is going to show up after 5 cats!
      <view is="surprise-partial:surprise"/>
    </div>
  {{/if}}
