<index:>
  <!--
    Templates are written in HTML. We use a Handlebars-inspired syntax. Learn
    more about the template syntax @ https://derbyjs.com/docs/derby-0.10/views/template-syntax
  -->
  <p>
    Hello world!
  </p>

  <!--
    By using the {{varName}} syntax, we can reference and bind to data (on the
    component-scoped Racer Model.) Try typing in this input:
  -->
  <p>
    What is your name? <input value="{{name}}">
  </p>

  <!--
    Name shows up in real-time here!
  -->
  <p>
    Nice to meet you, <b>{{name}}</b>
  </p>
